.centered {
  position: fixed;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 65%;
  margin-top: -150px;
  margin-left: -150px;
  text-align: center;

}

.timer {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 4rem;
}

.timerButton {
  width: 100%;
  margin-top: 0px;
  height: 40px;
  font-size: 1.5rem;
  background-color: grey;
  color: white;
  border-style: none;
}

.sidebar{
  height: 100%;
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
}

.sidebar-nav{
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
}

#sidebar-title{
  font-size: 1.5rem;
}
