<div class="centered">
  <!-- <timer id="timer" max-time-unit="'minute'" start-time="1500000" end-time="0" interval="1000" countdown="100">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer> -->
  <div class="timer">
    <p ng-hide="home.timer.isOn || home.timer.breakSession">25:00</p>
    <p ng-show="home.timer.isOn">{{ home.timer.remainingTime | formatTime }}</p>
    <p ng-show="home.timer.breakSession && !home.timer.isOn && home.timer.completedWorkSessions != 4">5:00</p>
    <p ng-show="home.timer.breakSession && !home.timer.isOn && home.timer.completedWorkSessions == 4">30:00</p>
  </div>
  <div>
    <button type="button" class="timerButton" ng-show="home.timer.isOn" ng-click="home.timer.startTimer()">Reset Timer</button>
    <button type="button" class="timerButton" ng-show="!home.timer.isOn && home.timer.breakSession && home.timer.completedWorkSessions != 4" ng-click="home.timer.startTimer()">Start Break</button>
    <button type="button" class="timerButton" ng-show="!home.timer.isOn && home.timer.breakSession && home.timer.completedWorkSessions == 4" ng-click="home.timer.startTimer()">Start Long Break</button>
    <button type="button" class="timerButton" ng-show="!home.timer.isOn && !home.timer.workSession && !home.timer.breakSession" ng-click="home.timer.startTimer()">Start Work Session</button>
  </div>
</div>
