<div class="centered">
  <div class="timer">
    <p ng-hide="home.timer.isOn || home.timer.isBreakSession">25:00</p>
    <p ng-show="home.timer.isOn">{{ home.timer.remainingTime | formatTime }}</p>
    <p ng-show="home.timer.isBreakSession && !home.timer.isOn && home.timer.completedWorkSessions != 4">5:00</p>
    <p ng-show="home.timer.isBreakSession && !home.timer.isOn && home.timer.completedWorkSessions == 4">30:00</p>
  </div>
  <div>
    <button type="button" class="timerButton" ng-show="home.timer.isOn" ng-click="home.timer.startTimer()">Reset Timer</button>
    <button type="button" class="timerButton" ng-show="!home.timer.isOn && home.timer.isBreakSession && home.timer.completedWorkSessions != 4" ng-click="home.timer.startTimer()">Start Break</button>
    <button type="button" class="timerButton" ng-show="!home.timer.isOn && home.timer.isBreakSession && home.timer.completedWorkSessions == 4" ng-click="home.timer.startTimer()">Start Long Break</button>
    <button type="button" class="timerButton" ng-show="!home.timer.isOn && !home.timer.isWorkSession && !home.timer.isBreakSession" ng-click="home.timer.startTimer()">Start Work Session</button>
  </div>
</div>
